<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

{{> fragments/title}}

{{> fragments/top_bar}}

<div class="container browse-layout">

    {{> fragments/filter_container}}

    {{> fragments/browse_container}}

    {{> fragments/pagination}}

    </main>

</div>

{{> fragments/footer}}

</body>
</html>
