<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

{{> fragments/title}}

{{> fragments/top_bar}}

<div class="container profile-layout">

    {{> fragments/wishlist_container}}

    {{> fragments/read_container}}

    {{> fragments/review_container}}

</div>

{{> fragments/footer}}

</body>
</html>