<div class="basic-book-result">

    <!-- Title -->
    <div class="basic-book-title">{{title}}</div>

    <!-- Small cover image -->
    <img class="basic-book-thumb" src="{{imglink}}" alt="{{title}} cover">

    <!-- Authors -->
    <div class="basic-book-authors">
        {{#authors}}
            <span class="authorname">{{authorname}}</span>
        {{/authors}}
    </div>

</div>