<div class="book-container">
    <a href="/book/{{isbn}}">
    <div class="book-cover">
        <img src="{{imglink}}" alt="{{title}} cover">
    </a>
    <div class="book-actions">
        {{#isHearted}}
        <form method="get" action="/book/{{isbn}}/like/false">
            <button class="fa fa-heart"></button>
        </form>
        {{/isHearted}}
        {{^isHearted}}
        <form method="get" action="/book/{{isbn}}/like/true">
            <button class="far fa-heart"></button>
        </form>
        {{/isHearted}}
        <span class="action-count">{{heartsCount}}</span>

        {{#isWishlisted}}
        <form method="get" action="/book/{{isbn}}/wishlist/false">
            <button class="fa fa-bookmark"></button>
        </form>
        {{/isWishlisted}}
        {{^isWishlisted}}
        <form method="get" action="/book/{{isbn}}/wishlist/true">
            <button class="far fa-bookmark"></button>
        </form>
        {{/isWishlisted}}   

        {{#isRead}}
        <form method="get" action="/book/{{isbn}}/read/false">
            <button class="fa fa-book"></button>
        </form>
        {{/isRead}}
        {{^isRead}}
        <form method="get" action="/book/{{isbn}}/read/true">
            <button class="fa fa-book-open"></button>
        </form>
        {{/isRead}} 
    </div>

    </div>

    <div class="book-details">
        <a class = "browselink" href="/book/{{isbn}}"><h1 class="book-title">{{title}}</h1> </a>

        <div class="book-authors">
            {{#authors}}
                <a class="authorname browselink" href="/browse?page=1&title=&author={{authorname}}&category=&minRating=0&size=10">
                {{authorname}}</a>
            {{/authors}}
        </div>

        <div class="book-category">
            <strong>Category:</strong>
            <a class= "browselink" href="/browse?page=1&title=&author=&category={{category}}&minRating=0&size=10">{{category}} </a>
        </div>

        <div class="book-pages">
            <strong># of Pages:</strong> {{numPages}}
        </div>

        <div class="book-rating">
            <strong>Rating:</strong> <span class="rating-value">{{rating}}</span> 
            {{#numRatings}}
            <span class="ratings-count"> ({{numRatings}}) </span>
            {{/numRatings}}
        </div>

        <div class="book-release">
            <strong>Publish Date:</strong> {{publishDate}}
        </div>

        <div class="book-description">
            <strong>Description:</strong> {{description}}
        </div>

    </div>
</div>
