<div class="review-card">

    <!-- ===== TOP SECTION: Book Fragment + User/Meta ===== -->
    <div class="review-header">

        <!-- LEFT: simple book fragment -->
        <div class="review-book">
            {{> fragments/review_book }}
        </div>

        <!-- RIGHT: user info and recommended indicator -->
        <div class="review-meta">
            <a href="/profile/{{user.userId}}"> <img class="review-user-avatar" src="{{user.profileImagePath}}" alt="User Avatar"> </a>
            <a href="/profile/{{user.userId}}" class = "browselink"><div class="review-user">{{user.firstName}} {{user.lastName}} </a></div>

            <div class="review-date">{{reviewDate}}</div>

            <div class="review-recommended">
                {{#recommended}}
                    <i class="fa-solid fa-thumbs-up recommended-yes"></i>
                {{/recommended}}
                {{^recommended}}
                    <i class="fa-solid fa-thumbs-down recommended-no"></i>
                {{/recommended}}
            </div>
        </div>
    </div>

    <!-- ===== REVIEW BODY ===== -->
    <div class="review-content">
        {{content}}
    </div>
</div>
