 <section class="review-section">
    <strong>Reviews:</strong>
        {{#reviews}}
            <div class="review-card">
                {{> fragments/review}}
            </div>
        {{/reviews}}

        {{^reviews}}
            <p class="no-content-message">No Book Reviews (follow accounts to see their book reviews)</p>
        {{/reviews}}
    </section>