<section class="profile-section">
        <h2>Wishlisted Books</h2>

        {{#wishlistedbooks}}
            <div class="book-card">
                {{> fragments/book}}
            </div>
        {{/wishlistedbooks}}

        {{^wishlistedbooks}}
            <p>No wishlisted books.</p>
        {{/wishlistedbooks}}
    </section>